.loading-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #333333;
}

.loading-anim img {
  background-color: #333333;
}
