.container {
  margin-top: 100px;
}

.team-name {
  position: absolute;
  top: 5%;
  left: 35%;
  color: var(--red);
  display: flex;
  font-size: 96px;
  font-weight: bold;
  text-shadow: 0px 0px 10px var(--red);
  z-index: 2;
}

.comp {
  display: flex;
  justify-content: right;
  margin-right: 350px;
  gap: 100px;
  margin-top: 100px;
}

.header-flex {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.team-img {
  z-index: 1;
}

.team-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  z-index: 1;
}

.detail-headline {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.detail-comp-text {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.detail-text {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
