.navLeiste div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-family: Montserrat;
  cursor: pointer;
}

.navLeiste {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: 3.35vw;
  z-index: 999;
}

.dark-mode .navLeiste {
  background-color: rgba(0, 0, 0, 0.3); /* Hintergrundfarbe für den Dark Mode */
}

/* SEARCH INPUT */

.search-bar {
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 50%;
  left: 85%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 3px var(--white) solid;
  transition-duration: 0.2s;
  overflow: hidden;
}

.textbox {
  width: 0px;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 40px;
  font-size: 20px;
  height: 45px;
  background-color: transparent;
  outline: none;
  height: 100%;
  float: left;
  transition-duration: 0.05s;
}

.search-btn {
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  margin: 0;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: end;
  align-items: center;
  float: right;
  text-decoration: none;
  border-left: 5px var(--white) solid;
  height: 100%;
  transition-duration: 0.5s;
}

.search-btn svg {
  margin: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
}

.search-bar:hover > .textbox {
  padding: 0px 10px 0px 10px;
  width: 100%;
  transition-duration: 0.2s;
}

.search-bar:hover > .search-btn {
  border-left: 6px var(--black) solid;
  transition-duration: 0.2s;
}

.search-btn:hover {
  background-color: var(--black);
  transition-duration: 0.2s;
}
.search-btn:hover > svg {
  transition-duration: 0.2s;
}
