.navLeiste div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-family: Montserrat;
}

.navLeiste {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: 3.35vw;
  z-index: 999;
}

.dark-mode .navLeiste {
  background-color: rgba(0, 0, 0, 0.3); /* Hintergrundfarbe für den Dark Mode */
}

/* SEARCH INPUT */

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  margin-left: -10px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: var(--white);
}

.input-search::placeholder {
  color: var(--white);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

/* Ändern Sie den Hover-Effekt für das Suchfeld */
.search-box:hover .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--white);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
