footer {
    text-align: center;
    background-color: var(--black);
    padding: 5vw 8vw;
    color: var(--white);
}

footer p {
    margin-bottom: 1rem;
}

.footerLinkBox {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer a {
    width: 150px;
    height: 30px;
    display: block;
    background: linear-gradient(to right, var(--black) 50%, var(--white) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

footer a:hover {
    background-position: left bottom;
}

footer a {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: var(--black);
    transition: all 0.6s ease-out;
    display: block;
    opacity: 0.75;
    text-decoration: none;
}

footer a:hover {
    color: var(--red);
    opacity: 1;
}
