.letter_div {
  position: relative;
  margin-bottom: 230px;
  max-width: 75vw;
}

.letter_div h2 {
  font-family: Roboto;
  /* font-size: clamp(12.5rem, 10.7143rem + 8.9286vw, 25rem); */
  font-size: clamp(7.5rem, 4.2857rem + 16.0714vw, 18.75rem);
  font-weight: 900;
  -webkit-text-stroke: 4px var(--red);
  color: transparent;

  position: absolute;
  top: -110px;
}

.letter_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 140px;
}

/* width */
.letter_wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.letter_wrapper::-webkit-scrollbar-track {
  background: var(--black);
  border-left: none;
}

/* Handle */
.letter_wrapper::-webkit-scrollbar-thumb {
  background: rgba(132, 132, 132, 0.1);
  border-radius: 6px;
  height: 50px;
  transition: all 0.4s ease;
}
/* Handle on hover */
.letter_wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--red);
  transition: all 0.4s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .letter_div {
    opacity: 0.1;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    0% {
      opacity: 0.2;
      transform: translateY(30px) scale(0.92);
    }
    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }
}

.letter_wrapper div {
  position: relative;
  z-index: 2;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
  padding-inline: 6px;
}

.letter_wrapper div::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 0;
  height: 18px;
  background-color: var(--red);
  transition: width 0.6s ease;
  z-index: -1;
}
.letter_wrapper div:hover::before {
  width: 100%;
}

.letter_div a {
  text-decoration: none;
}

.filter_league {
  font-size: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
  /* 48px */
  /* font-size: 48px; */
  font-weight: 600;
  max-width: 40ch;
}

.filter_sport {
  font-size: clamp(1.0625rem, 0.9375rem + 0.625vw, 1.5rem);
  font-family: "Open Sans";
  text-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .letter_wrapper div::before {
    display: none;
  }
}
