.header-wrapper {
  padding-top: 177px;
  min-height: 100svh;
  display: flex;
  align-items: center;
  background-color: var(--black);
}
.header-img {
  margin-right: 24vw;
  margin-bottom: 7vw;
  position: relative;
  /* z-index: 2; */
  margin-top: -30px;
  animation: fade-up 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  .header-img {
    animation: to-left ease-out forwards;
    animation-timeline: view(y);
    /* animation-range: end; */
    animation-duration: 1ms;
  }

  @keyframes to-left {
    50% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-20vw);
      opacity: 0.2;
    }
  }
}

.header-text {
  display: block;
  font-size: clamp(6.25rem, -3.8223rem + 13.6463vw, 18.625rem);
  max-width: 12ch;
  text-align: right;
  font-family: Roboto;
  letter-spacing: 10px;
  font-weight: 600;
  position: absolute;
  top: 18vw;
  right: 3.35vw;
  color: var(--red);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  animation: fade-up 0.8s;
}

@media (prefers-reduced-motion: no-preference) {
  .header-text {
    animation: to-right ease-out forwards;
    animation-timeline: view(y);
    /* animation-range: end; */
    animation-duration: 1ms;
  }
}
@keyframes to-right {
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0.2;
  }
}

@media only screen and (max-width: 1030px) {
  .header-wrapper {
    min-height: 90vh;
  }
  .header-img {
    margin-left: -30vw;
  }
}

@media only screen and (max-width: 720px) {
  .header-text {
    font-size: clamp(3.125rem, 1.3393rem + 8.9286vw, 5.625rem);
    top: 30vw;
  }
  .header-img {
    margin-left: -50vw;
  }
}

@media only screen and (max-width: 430px) {
  .header-wrapper {
    flex-direction: column-reverse;
    padding-top: 30vw;
    justify-content: flex-end;
    overflow: hidden;
  }
  .header-text {
    padding-top: 5vw;
    position: unset;
    max-width: 12ch;
  }
  .header-img {
    padding-right: 0;
    margin-right: -20vw;
    margin-left: -20vw;
    padding-top: 20vw;
  }
}

@media only screen and (min-width: 1740px) {
  .header-text {
    font-size: clamp(6.25rem, -3.8223rem + 12.5463vw, 18.625rem);
    top: 250px;
  }
  .header-img {
    margin-right: 32vw;
  }
}
