.filter_section {
  font-family: "Open Sans";
}

.filter_spcbtw {
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
}

.filter_popup_wrapper {
  display: flex;
  gap: 2vw;
}

.filter_popup {
  /* display: none;
  position: absolute; */
  border: 4px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 11px;
}

.filter_button_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  flex-wrap: wrap;
  position: relative;
}

.filter_dropdown {
  border: 4px solid var(--white);

  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8839rem + 0.2679vw, 1.3125rem); /* 18px */
  width: 300px;
  position: relative;

  background-color: var(--black);
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.1);
}
.filter_dropdown_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.filter_dropdown .filter_dropdown_wrapper p {
  padding: unset;
}
.dropdown_popup {
  position: absolute;
  border-inline: 4px solid var(--white);
  border-bottom: 4px solid var(--white);
  top: 42px;
  width: 100%;
  left: -4px;
  box-sizing: content-box;
  max-height: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: var(--black);
}

.dropdown_popup::-webkit-scrollbar {
  display: none;
}

.dropdown_border {
  border-top: 2px solid var(--white);
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.filter_square {
  width: 16px;
  height: 16px;
  border: 2px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dspl_none {
  display: none;
}

.filter_dropdown div p {
  padding: 5px 12px;
}

.container_output_wrapper {
  padding-bottom: 50px;
}

.close_cross {
  transition: all 0.3s ease;
}

.close_cross:hover {
  stroke: var(--red);
}

@media only screen and (max-width: 1180px) {
  .filter_button_wrapper {
    gap: 24px;
  }
  .filter_dropdown {
    width: 220px;
  }
  .letter_div .letter_wrapper {
    margin-left: 8vw;
    padding-top: 6vw;
  }
}

@media only screen and (max-width: 936px) {
  .filter_spcbtw {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    padding-bottom: 190px;
  }
  .filter_dropdown {
    flex-direction: column;
    align-items: normal;
    height: max-content;
  }

  .dropdown_popup {
    position: static;
    width: auto;
    border: unset;
  }
  .letter_wrapper .filter_league {
    font-size: clamp(1.1875rem, 0.6904rem + 2.4857vw, 2rem);
  }
  .letter_div .letter_wrapper {
    max-height: 400px;
  }
}
@media only screen and (max-width: 528px) {
  .filter_button_wrapper {
    width: 100%;
  }
  .filter_dropdown {
    width: 100%;
  }
  .container_output_wrapper .letter_div {
    margin-bottom: 150px;
  }
  .letter_div .letter_wrapper {
    max-height: 360px;
  }
}
