.detailLeagueHeader {
    display: flex;
    padding-top: 100px;
    position: relative;
    min-height: 100svh;
}

.detailLeagueHeaderImage {
    width: 650px;
    height: 780px;
    padding-left: 10vw;
    object-fit: cover;
    filter: grayscale(1);
}

.detailLeagueHeaderImage:hover {
    filter: grayscale(0);
}

.detailLeagueHeadingContainer {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 150px;
    color: var(--red);
    /* font-size: 3rem; */
    font-size: clamp(1rem, 0.4545rem + 2.9091vw, 5rem);

    text-align: right;
}

.detailLeagueHeading {
    color: var(--red);
    text-transform: uppercase;
    max-width: 15ch;
    font-family: Montserrat-bold;
}

.detailLeagueInnerOutput {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 2;
    width: max-content;
}

.detailLeagueInnerOutput::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    width: 0;
    height: 18px;
    background-color: var(--red);
    transition: width 0.6s ease;
    z-index: -1;
}

.detailLeagueInnerOutput:hover::before {
    width: 100%;
}

.detailLeagueOutput p {
    display: inline-block;
}

.detailLeaguePTag1 {
    font-size: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
}

/* .detailLeaguePTag1:hover {
    transition: 300ms;
    font-size: clamp(1rem, 0.4545rem + 2.9091vw, 5rem);
    cursor: pointer;
} */

.detailLeagueLink {
    text-decoration: none;
}

.errorMessage {
    text-align: center;
    font-size: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
}

.footerInnerBox {
    display: flex;
    gap: 1rem;
}

/* ######################## Media Queries #################### */

@media screen and (max-width: 768px) {
    .detailLeagueOuterBox {
        padding-bottom: 2rem;
    }
    .detailLeagueInnerOutput {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
        padding-bottom: 0.5rem;
    }

    .headerContainerLeft {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detailLeagueHeaderImage {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .detailLeagueHeading {
        padding-top: 50px;
    }
}
