.detailLeagueHeader {
    display: flex;
    padding-top: 100px;
    position: relative;
    min-height: 100svh;
}

.detailLeagueHeaderImage {
    width: 650px;
    height: 780px;
    padding-left: 10vw;
    object-fit: cover;
    filter: grayscale(1);
}

.detailLeagueHeaderImage:hover {
    filter: grayscale(0);
}

.detailLeagueHeadingContainer {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 150px;
    color: var(--red);
    /* font-size: 3rem; */
    font-size: clamp(1rem, 0.4545rem + 2.9091vw, 5rem);

    text-align: right;
}

.detailLeagueHeading {
    color: var(--red);
    text-transform: uppercase;
    max-width: 15ch;
}

.detailLeagueInnerOutput {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detailLeagueOutput p {
    display: inline-block;
}

.detailLeaguePTag1 {
    font-size: clamp(1rem, 0.5909rem + 2.1818vw, 4rem);
}

.detailLeaguePTag1:hover {
    transition: 300ms;
    font-size: clamp(1rem, 0.4545rem + 2.9091vw, 5rem);
    cursor: pointer;
}

.detailLeagueLink {
    text-decoration: none;
}
