* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
video {
  max-width: 100%;
}

.montserrat {
  font-family: "Montserrat";
}

.opensans {
  font-family: "Open Sans";
}

:root {
  --black: #0f0f0f;
  --red: #e83539;
  --white: #ffffff;
}

.container {
  padding-inline: 3.35vw;
}
